@import '../fonts/inter/inter.css';
@import '../fonts/ibm-plex-mono/ibm-plex-mono-all.css';

:root {
	font-family: InterVariable, sans-serif;
	font-optical-sizing: auto;
	font-variant-alternates: styleset(ss01, ss02, ss03); /* ss02 includes slashed zero */
	font-feature-settings:
		'calt' 1,
		'tnum' 1,
		'frac' 1;
	line-height: 1.625;
}

.font-display-large {
	font-family: InterVariable, sans-serif;
	font-size: 3.5625rem;
	font-weight: 600;
	line-height: 3.875;
}
