/* Custom styled checkboxes: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
	@apply opacity-100;
}

input[type="checkbox"]:checked {
	@apply bg-ora-orange dark:bg-ora-orange;
}

input[type="radio"]:checked {
	@apply bg-transparent border-black dark:border-white dark:bg-transparent;
}

input[type="checkbox"] {
	@apply grid border border-black dark:border-white appearance-none bg-transparent rounded-sm place-content-center w-4 h-4 m-0;
	font: inherit;
}

input[type="radio"] {
	@apply grid border border-black dark:border-white appearance-none bg-transparent place-content-center w-4 h-4 m-0;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover {
	@apply border-ora-orange;
}

input[type="checkbox"]::before,
input[type="radio"]::before {
	@apply block opacity-0 h-2.5 w-2.5;
	content: "";
	border-radius: 50%;
	transform-origin: bottom left;
}

input[type="checkbox"]::before {
	box-shadow: inset 1em 1em theme('colors.black');
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="radio"]::before {
	box-shadow: inset 1em 1em theme('colors.ora-orange');
	clip-path: circle(100%);
}

input[type="checkbox"]:checked:disabled {
	@apply bg-disabled-background;
}

input[type="radio"]:checked:disabled {
	@apply bg-transparent border-disabled-text;
}

input[type="checkbox"]:disabled:not(:checked),
input[type="radio"]:disabled:not(:checked) {
	@apply border-disabled-text;
}

input[type="checkbox"]:disabled::before,
input[type="radio"]:disabled::before {
	box-shadow: inset 1em 1em theme('colors.disabled.text');
}

/* Range input styling (see https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/, https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html) */

input[type="range"] {
	@apply appearance-none rounded-full bg-transparent;
}

input[type="range"]:focus-visible {
	@apply outline-none outline-black outline-offset-2 outline-2 ring-2 ring-white;
}

/* Webkit slider thumb */

input[type="range"]::-webkit-slider-thumb {
	@apply appearance-none rounded-full bg-ora-orange cursor-default shadow-none h-4 w-4;
	margin-top: -.5rem;
}

input[type="range"].slider-uninitialized::-webkit-slider-thumb {
	@apply bg-black;
	@apply dark:bg-white;
}

input[type="range"]:not(:disabled)::-webkit-slider-thumb:hover {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-25;
}

input[type="range"].slider-dragging::-webkit-slider-thumb:active {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-35;
}

input[type="range"]:disabled::-webkit-slider-thumb {
	@apply bg-disabled-text border-none;
}

input[type="range"].slider-uninitialized:disabled::-webkit-slider-thumb {
	@apply bg-disabled-text border-none;
}

/* Moz slider thumb */

input[type="range"]::-moz-range-thumb {
	@apply rounded-full bg-ora-orange border-none cursor-default h-4 w-4;
}

input[type="range"].slider-uninitialized::-moz-range-thumb {
	@apply bg-black;
	@apply dark:bg-white;
}

input[type="range"]:not(:disabled)::-moz-range-thumb:hover {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-25;
}

input[type="range"].slider-dragging::-moz-range-thumb:active {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-35;
}

input[type="range"]:disabled::-moz-range-thumb {
	@apply bg-disabled-text border-none;
}

input[type="range"].slider-uninitialized:disabled::-moz-range-thumb {
	@apply bg-disabled-text border-none;
}

/* IE slider thumb */

input[type="range"]::-ms-thumb {
	@apply rounded-full bg-ora-orange cursor-default h-4 w-4;
}

input[type="range"].slider-uninitialized::-ms-thumb {
	@apply bg-black;
	@apply dark:bg-white;
}

input[type="range"]:not(:disabled)::-ms-thumb:hover {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-25;
}

input[type="range"].slider-dragging::-ms-thumb:active {
	@apply bg-ora-orange ring-ora-orange ring-8 ring-opacity-35;
}

input[type="range"]:disabled::-ms-thumb {
	@apply bg-disabled-text border-none;
}

input[type="range"].slider-uninitialized:disabled::-ms-thumb {
	@apply bg-disabled-text border-none;
}

/* Webkit slider track */

input[type="range"]::-webkit-slider-runnable-track {
	@apply w-full h-px bg-black cursor-default my-2;
	@apply dark:bg-white;
}

input[type="range"]:disabled::-webkit-slider-runnable-track {
	@apply bg-disabled-background;
}

/* Moz slider track */

input[type="range"]::-moz-range-track {
	@apply w-full h-px bg-black;
	@apply dark:bg-white;
}

input[type="range"]:disabled::-moz-range-track {
	@apply bg-disabled-background;
}

input[type="range"]::-moz-range-progress {
	@apply w-full h-px bg-black;
	@apply dark:bg-white;
}

input[type="range"]:disabled::-moz-range-progress {
	@apply bg-disabled-background;
}

/* IE slider track */

input[type="range"]::-ms-track {
	@apply w-full h-px bg-transparent border-transparent text-transparent;
	border-width: 16px 0;
}

input[type="range"]::-ms-fill-lower {
	@apply bg-black;
	@apply dark:bg-white;
}

input[type="range"]:disabled::-ms-fill-lower {
	@apply bg-disabled-background;
}

input[type="range"]:focus-visible::-ms-fill-lower {
	@apply bg-black;
}

input[type="range"]::-ms-fill-upper {
	@apply bg-black;
	@apply dark:bg-white;
}

input[type="range"]:disabled::-ms-fill-upper {
	@apply bg-disabled-background;
}
