/* Custom scrollbar styling: https://css-tricks.com/the-current-state-of-styling-scrollbars-in-css/ */
.overflow-y-auto {
	scrollbar-color: theme('colors.primary') transparent;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
	@apply bg-p1 rounded-full;
}

.overflow-y-auto::-webkit-scrollbar-track {
	background: none;
}

.overflow-y-auto::-webkit-scrollbar {
	width: 8px;
}
